.header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  padding-left: 47px;
  padding-right: 47px;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
}
.header_container {
  align-items: center;
  margin-left: auto;
  display: flex;
  z-index: 103;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  grid-column-gap: 32px;
  justify-content: flex-start;
  margin-right: auto;
}

.d_cursor {
  cursor: pointer;
}
.d_inline {
  display: inline-block;
}

.logo_section {
  width: 165px;
  max-width: 100%;
  display: inline-block;
}

.header_menu {
  height: 100%;
  grid-column-gap: 32px;
  flex: 1;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}
.header_dropdown {
  height: 100%;
  color: #141719;
  margin-left: 0;
  margin-right: 0;
  z-index: auto;
}

.header_dropdown-toggle {
  cursor: pointer;
}

.w_dropdown {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: inline-block;
}
.unified_dropdown_container {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eef1f1;
  z-index: 101;
  padding: 32px 0px;
  min-height: 191px;
}
.dropdown_content {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown_text {
  display: flex;
  justify-content: center;
  cursor: pointer;
  grid-column-gap: 6px;
}

.unified_dropdown_container .dropdown_content {
  display: flex;
}

.unified_dropdown_container .dropdown_image {
  margin-right: 20px;
}
.dropdown_links {
  max-width: 500px;
  margin: 0 40px;
  width: 100%;
  grid-row-gap: 16px;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 0px;
  :hover {
    color: #182cc0;
  }
}

.unified_dropdown_container .dropdown_links {
  display: flex;
  flex-direction: column;
}
.header_dropdown-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #555f62;
}
.w_dropdown-toggle {
  height: 100%;
  align-items: center;
  padding: 0;
  color: #222;
  display: flex;
}

.header_dropdown-line {
  transition: 0.6s;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  transform-style: preserve-3d;
  background-color: #182cc0;
  border-radius: 1px;
  margin-bottom: -1px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.header_buttons {
  grid-column-gap: 16px;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.header_search-btn {
  justify-content: center;
  align-items: center;
  padding: 8px;
  display: flex;
  :hover {
    color: #3295ce;
  }
}

.arrow_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #182cc0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  grid-column-gap: 6px;
  transition: color 0.25s ease-in-out;
}

.button_icon {
  display: flex;
  align-items: center;
  padding: 0 11px;
}

.button_icon svg {
  width: 16px;
  height: 16px;
  transition: fill 0.3s;
}

.button_icon div {
  margin-left: 0.5rem;
  transition: color 0.3s;
}

.arrow_link:hover .button_icon svg path {
  fill: #3295ce;
}

.arrow_link:hover .button_icon div {
  color: #3295ce;
}

.lang_toggle {
  height: 36px;
  grid-column-gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}

.lang_icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.lang_dropdown {
  position: relative;
  display: inline-block;
  border-radius: 4px;
}

.lang_dropdown-menu {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  top: 100%;
  left: 0;
  color: #141719;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
  padding: 12px 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.lang_dropdown:hover .lang_dropdown-menu,
.lang_dropdown .lang_dropdown-menu:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.ln_option {
  width: 100%;
  text-align: center;
}

.lang_dropdown:hover {
  background-color: #eef1f1;
}

.lang_dropdown:hover .lang_dropdown-menu {
  display: block;
}

.m_header-logo,
.menu_icon {
  display: none;
  img {
    max-width: 37px;
  }
}

@media screen and (max-width: 1120px) {
  .header_menu,
  .header-logo,
  .lang_dropdown {
    display: none;
  }
  .m_header-logo,
  .menu_icon {
    display: inline-block;
  }
  .logo_section {
    width: 36px;
  }
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
