@import '~swiper/swiper-bundle.min.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  background-color: #f9fafa;
  color: #555f62;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#footer-placeholder {
  display: flex;
  margin-top: 40px;
}
#header-placeholder {
  margin-bottom: 80px;
}
a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0;
  color: #141719;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}

p {
  margin: 0px;
}
.d_cursor {
  cursor: pointer;
}
.d_inline {
  display: inline-block;
}

.p_global {
  padding: 0 47px;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .p_global {
    padding: 0 45px;
  }
}

@media screen and (max-width: 479px) {
  .p_global {
    padding: 0 15px;
  }
}
