<main class="smooth-scroll-container">
  <div class="breadcrumb">
    <div class="breadcrumb_inner">
      მთავარი

    </div>
  </div>
  <div class="hero_wraper">
    <section class="main_hero">
      <div class="banner_content">
        <h1> თიბისი კონცეპტი </h1>
        <p>პერსონალური საბანკო მომსახურება, მორგებული თქვენს საჭიროებებსა და ინტერესებზე </p>
        <div class="hero_btn"><img src="../../images/white-arrow.svg" />
          <span>გამოიწერეთ</span>
        </div>
      </div>
    </section>
    <section class=" main_message">
      <div class="message_txt"> გამოიწერეთ თიბისი კონცეპტის ნაკრები და ისარგებლეთ როგორც საბანკო, ისე არასაბანკო
        უპირატესობებით. </div>
    </section>
    <section class="card_wraper">
      <div class="cards_heading">
        <h2>შეარჩიეთ ნაკრები </h2>
      </div>
      <div class="main_cards">
        <div class="grid-card left-top ">
          <div class="grid-card_content">
            <h3 class="text-color-white">ციფრული</h3>
            <div class="arrow-link is-white">
              <div class="card_btn w-embed">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.7987 2.86675L14.4654 7.53341C14.732 7.80008 14.732 8.20008 14.4654 8.46675L9.7987 13.1334C9.53203 13.4001 9.13203 13.4001 8.86537 13.1334C8.5987 12.8667 8.5987 12.4667 8.86537 12.2001L12.3987 8.66675H1.9987C1.5987 8.66675 1.33203 8.40008 1.33203 8.00008C1.33203 7.60008 1.5987 7.33341 1.9987 7.33341H12.3987L8.86537 3.80008C8.73203 3.66675 8.66536 3.53341 8.66536 3.33341C8.66536 3.13341 8.73203 3.00008 8.86537 2.86675C9.13203 2.60008 9.53203 2.60008 9.7987 2.86675Z">
                  </path>
                </svg>
              </div>
              <a href="/ge/singleview/245-digital-kit" class="button_text">იხილეთ მეტი</a>
            </div>
          </div>
          <div class="grid-card_img-wrapper">
            <picture>
              <source media="(max-width: 767px)"
                srcset="https://static.tbcconcept.ge/mobile/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png">
              <source media="(max-width: 1023px)"
                srcset="https://static.tbcconcept.ge/tablet/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png">
              <img
                src="https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png"
                loading="lazy" class="banner_img">
            </picture>
          </div>
        </div>

        <div class="grid-card right">
          <div class="grid-card_content">
            <h3 class="text-color-white">360</h3>
            <div class="arrow-link is-white">
              <div class="card_btn w-embed">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.7987 2.86675L14.4654 7.53341C14.732 7.80008 14.732 8.20008 14.4654 8.46675L9.7987 13.1334C9.53203 13.4001 9.13203 13.4001 8.86537 13.1334C8.5987 12.8667 8.5987 12.4667 8.86537 12.2001L12.3987 8.66675H1.9987C1.5987 8.66675 1.33203 8.40008 1.33203 8.00008C1.33203 7.60008 1.5987 7.33341 1.9987 7.33341H12.3987L8.86537 3.80008C8.73203 3.66675 8.66536 3.53341 8.66536 3.33341C8.66536 3.13341 8.73203 3.00008 8.86537 2.86675C9.13203 2.60008 9.53203 2.60008 9.7987 2.86675Z">
                  </path>
                </svg>
              </div>
              <a href="/ge/singleview/3301-concept-360" class="button_text"> იხილეთ მეტი </a>
            </div>
          </div>
          <div class="grid-card_img-wrapper">
            <picture>
              <source media="(max-width: 767px)" srcset="https://static.tbcconcept.ge/mobile/media/nqeaa1rb.avl360.png">
              <source media="(max-width: 1023px)"
                srcset="https://static.tbcconcept.ge/tablet/media/nqeaa1rb.avl360.png">
              <img src="https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png" loading="lazy"
                class="banner_img">
            </picture>
          </div>
        </div>

        <div class="grid-card left-bottom">
          <div class="grid-card_content">
            <h3 class="text-color-white">პრემიუმი</h3>
            <div class="arrow-link is-white">
              <div class="card_btn w-embed">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.7987 2.86675L14.4654 7.53341C14.732 7.80008 14.732 8.20008 14.4654 8.46675L9.7987 13.1334C9.53203 13.4001 9.13203 13.4001 8.86537 13.1334C8.5987 12.8667 8.5987 12.4667 8.86537 12.2001L12.3987 8.66675H1.9987C1.5987 8.66675 1.33203 8.40008 1.33203 8.00008C1.33203 7.60008 1.5987 7.33341 1.9987 7.33341H12.3987L8.86537 3.80008C8.73203 3.66675 8.66536 3.53341 8.66536 3.33341C8.66536 3.13341 8.73203 3.00008 8.86537 2.86675C9.13203 2.60008 9.53203 2.60008 9.7987 2.86675Z">
                  </path>
                </svg>
              </div>
              <a href="/ge/singleview/3300-premium-kit" class="button_text"> იხილეთ მეტი </a>
            </div>
          </div>
          <div class="grid-card_img-wrapper">
            <picture>
              <source media="(max-width: 767px)"
                srcset="https://static.tbcconcept.ge/mobile/media/0m25n3qt.w03prem.png">
              <source media="(max-width: 1023px)"
                srcset="https://static.tbcconcept.ge/tablet/media/0m25n3qt.w03prem.png">
              <img src="https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png" loading="lazy"
                class="banner_img">
            </picture>
          </div>
        </div>
      </div>
    </section>


  </div>

</main>