<main class="smooth-scroll-container">
  <div class="breadcrumb">
    <div class="breadcrumb_inner">
      მთავარი

    </div>
  </div>
  <div class="hero_wraper">
    <section class="home_hero">
      <div class="banner_content">
        <h1> თიბისი კონცეპტი </h1>
        <p>პერსონალური საბანკო მომსახურება, მორგებული თქვენს საჭიროებებსა და ინტერესებზე </p>
        <div class="hero_btn"><img src="../../images/white-arrow.svg" />
          <span>გამოიწერეთ</span>
        </div>
      </div>
    </section>
  </div>

</main>