<main class="smooth-scroll-container">
  <div class="breadcrumb p_global">
    <div class="breadcrumb_inner container">
      მთავარი

    </div>
  </div>
  <div class="main_wraper p_global">
    <section class="main_hero container">
      <div class="banner_content">
        <h1> თიბისი კონცეპტი </h1>
        <p>პერსონალური საბანკო მომსახურება, მორგებული თქვენს საჭიროებებსა და ინტერესებზე </p>
        <div class="hero_btn"><img src="../../images/white-arrow.svg" />
          <span>გამოიწერეთ</span>
        </div>
      </div>
      <div class="img_wrapper">
        <picture>
          <img src="https://static.tbcconcept.ge/desktop/media/ze324k50.yq4Become-2.webp" loading="lazy" width="1772"
            height="1181" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 91vw, 1110px" class="banner_img">
        </picture>
      </div>
    </section>

    <section class=" main_message">
      <div class="message_txt container"> გამოიწერეთ თიბისი კონცეპტის ნაკრები და ისარგებლეთ როგორც საბანკო, ისე
        არასაბანკო
        უპირატესობებით. </div>
    </section>

    <section class="card_wraper container">
      <div class="container">
        <div class="heading_wraper">
          <h2>შეარჩიეთ ნაკრები</h2>
        </div>
      </div>
      <div class="main_cards">
        <div class="grid_card left-top">
          <div class="grid_card_content">
            <h3>ციფრული</h3>
            <div class="arrow-link ">
              <div class="card_btn">
                <img src="../../images/white-arrow.svg" />
              </div>
              <a href="3" class="button_text">იხილეთ მეტი</a>
            </div>
          </div>
          <div class="img_wrapper">
            <picture>
              <img
                src="https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png"
                loading="lazy" class="banner_img">
            </picture>
          </div>
        </div>

        <div class="grid_card right">
          <div class="grid_card_content">
            <h3>360</h3>
            <div class="arrow-link ">
              <div class="card_btn">
                <img src="../../images/white-arrow.svg" />
              </div>
              <a href="#" class="button_text">იხილეთ მეტი</a>
            </div>
          </div>
          <div class="img_wrapper">
            <picture>

              <img src="https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png" loading="lazy"
                class="banner_img">
            </picture>
          </div>
        </div>

        <div class="grid_card left-bottom">
          <div class="grid_card_content">
            <h3>პრემიუმი</h3>
            <div class="arrow-link ">
              <div class="card_btn">
                <img src="../../images/white-arrow.svg" />
              </div>
              <a href="#" class="button_text">იხილეთ მეტი</a>
            </div>
          </div>
          <div class="img_wrapper">
            <picture>

              <img src="https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png" loading="lazy"
                class="banner_img">
            </picture>
          </div>
        </div>
      </div>
    </section>

    <section class="section_numbers">
      <div class="container">
        <div class="numbers">
          <div class="numbers_item">
            <div class="numbers_number">94 750</div>
            <p>მომხმარებელი</p>
          </div>
          <div class="numbers_item">
            <div class="numbers_number">150+</div>
            <p>ღონისძიება</p>
          </div>
          <div class="numbers_item">
            <div class="numbers_number">130+</div>
            <p>შეთავაზება</p>
          </div>
        </div>
      </div>
    </section>


    <section class="section_swiper">
      <div class="container">
        <div class="heading_wraper">
          <h2>შეთავაზებები</h2>
          <a href="#" class="arrow_link d_cursor">
            <div class="button_icon">
              <img src="../../images/blue-arrow.svg" />
              <div> ყველა შეთავაზება </div>
            </div>
          </a>
        </div>
        <div class="swiper-container mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-card">
                <div class="product-card_img-wrapper">
                  <img src="../../images/offer1.png" alt="Offer Image">
                  <div class="logo">
                    <img src="../../images/empi.jpg" alt="logo">
                  </div>
                </div>
                <div class="product-card_content">
                  <div class="category-wrap">
                    <p class="card-category"> ჯაზ ფესტივალის შეთავაზებები </p>
                  </div>
                  <h3 class="card-title">IVERIA BEACH - დაიბრუნეთ 30%</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card">
                <div class="product-card_img-wrapper">
                  <img src="../../images/offer2.png" alt="Offer Image">
                  <div class="logo">
                    <img src="../../images/tegeta.png" alt="logo">
                  </div>
                </div>
                <div class="product-card_content">
                  <div class="category-wrap">
                    <p class="card-category"> ავტო შეთვაზებები</p>
                  </div>
                  <h3 class="card-title">თეგეტა მოტორსი - 50% ფასდაკლება</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card">
                <div class="product-card_img-wrapper">
                  <img src="../../images/offer3.png" alt="Offer Image">
                  <div class="logo">
                    <img src="../../images/tegeta.png" alt="logo">
                  </div>
                </div>
                <div class="product-card_content">
                  <div class="category-wrap">
                    <p class="card-category"> ავტო შეთვაზებები</p>
                  </div>
                  <h3 class="card-title">თეგეტა მოტორსი - ბათუმი</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card">
                <div class="product-card_img-wrapper">
                  <img src="../../images/offer4.png" alt="Offer Image">
                  <div class="logo">
                    <img src="../../images/meridien.png" alt="logo">
                  </div>
                </div>
                <div class="product-card_content">
                  <div class="category-wrap">
                    <p class="card-category"> დასვენება </p>
                  </div>
                  <h3 class="card-title">Le Meridien Batumi – 10%-იანი ფასდაკლება</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-card">
                <div class="product-card_img-wrapper">
                  <img src="../../images/offer5.png" alt="Offer Image">
                  <div class="logo">
                    <img src="../../images/colosseum.png" alt="logo">
                  </div>
                </div>
                <div class="product-card_content">
                  <div class="category-wrap">
                    <p class="card-category"> ვიზა შეთავაზებები</p>
                  </div>
                  <h3 class="card-title">Colosseum Marina Hotel – 15%-იანი ფასდაკლება</h3>
                </div>
              </div>
            </div>


          </div>
          <div class="swiper-scrollbar"></div>
          <div class="swiper_nav-arrows">

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </section>


  </div>


  <section class="get_app">
    <div class="get_app-wraper">
      <div class="container">
        <div class="get_app_inner">
          <div class="get_app_content">
            <h2>ციფრული ბანკი</h2>
            <picture>

              <img src="https://static.tbcconcept.ge/desktop/media/3sdx4uin.3qibankkk3.png" loading="lazy" width="370"
                height="350" class="app_img">
            </picture>
            <p> შეასრულეთ საბანკო ოპერაციები დისტანციურად, ციფრული ბანკის დახმარებით </p>
            <div class="get_app_btn">
              <a href="https://play.google.com/store/apps/details?id=com.icomvision.bsc.tbc&amp;hl=en" target="_blank"
                class="app_btn d_inline">
                <img src="../../images/g-play.svg" loading="lazy" width="68" height="16" alt="Google Play">
              </a>
              <a href="https://apps.apple.com/us/app/tbc-bank/id766598432" target="_blank" class="app_btn  d_inline">
                <img src="../../images/app-store.svg" loading="lazy" width="68" height="16" alt="App Store" />

              </a><a href="https://play.google.com/store/apps/details?id=com.icomvision.bsc.tbc&amp;hl=en"
                target="_blank" class="app_btn-mobile">
                <div class="button_icon ">
                  <img src="../../images/download.svg" />
                </div>
                <div class="button_text"> Download </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_swiper">
    <div class="container">
      <div class="heading_wraper">
        <h2>პროდუქტები</h2>
      </div>
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card_img-wrapper">
                <img
                  src="https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png"
                  alt="Offer Image">

              </div>
              <div class="product-card_content">
                <h3 class="card-title">ციფრული</h3>
                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის ციფრული ნაკრები განკუთვნილია მათთვის, ვისთვისაც
                    <strong>საბანკო მომსახურებით
                      სარგებლობა ყოველდღიურობის ნაწილია</strong>, ვინც აქტიურად მოიხმარს <strong>არასაბანკო პროდუქტებსა
                      და შეთავაზებებს</strong> და ვისაც ურჩევნია დამოუკიდებლად, <strong>პირადი ბანკირის გარეშე</strong>
                    მართოს საკუთარი ფინანსები და საბანკო ოპერაციები.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card_img-wrapper">
                <img src="https://static.tbcconcept.ge/desktop/media/0m25n3qt.w03prem.png" alt="Offer Image">
              </div>
              <div class="product-card_content">
                <h3 class="card-title">პრემიუმი</h3>

                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის მომხმარებლებთან ურთიერთობის ერთ-ერთი ფორმატი -
                    <strong>პრემიუმ ნაკრები</strong>,
                    სხვა საბანკო და არასაბანკო უპირატესობებთან ერთად, <strong>პირადი ბანკირის მომსახურებას</strong>
                    გულისხმობს. პირადი ბანკირის მთავარი ამოცანა მომხარებლისთვის ცხოვრების გამარტივება და მისთვის
                    უმაღლესი ხარისხის მომსახურების უზრუნველყოფაა.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card_img-wrapper">
                <img src="https://static.tbcconcept.ge/desktop/media/nqeaa1rb.avl360.png" alt="Offer Image">

              </div>
              <div class="product-card_content">
                <h3 class="card-title">360</h3>

                <div class="category-wrap">
                  <p class="card-category"><strong>თიბისი კონცეპტის 360</strong> ნაკრები განკუთვნილია მათთვის, ვისაც
                    სხვა საბანკო და
                    არასაბანკო უპიტარესობებთან ერთად, კიდევ უფრო <strong>მეტი ფინანსური ინსტრუმენტი</strong> და
                    <strong>გაზრდილი შესაძლებლობები</strong> ესაჭიროება.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-card">
              <div class="product-card_img-wrapper">
                <img
                  src="https://static.tbcconcept.ge/desktop/media/mfvvitla.0j5430128849_7213815365374065_9017687812435872577_n.png"
                  alt="Offer Image">

              </div>
              <div class="product-card_content">
                <h3 class="card-title">ციფრული</h3>
                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის ციფრული ნაკრები განკუთვნილია მათთვის, ვისთვისაც
                    <strong>საბანკო მომსახურებით
                      სარგებლობა ყოველდღიურობის ნაწილია</strong>, ვინც აქტიურად მოიხმარს <strong>არასაბანკო პროდუქტებსა
                      და შეთავაზებებს</strong> და ვისაც ურჩევნია დამოუკიდებლად, <strong>პირადი ბანკირის გარეშე</strong>
                    მართოს საკუთარი ფინანსები და საბანკო ოპერაციები.
                  </p>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="swiper-scrollbar"></div>
        <div class="swiper_nav-arrows">

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="main_hero container">
    <div class="banner_content">
      <h1> პირადი ბანკირი </h1>
      <p>თქვენი სანდო პარტნიორი ფინანსურ რჩევებსა და ოპერაციებში </p>
      <div class="hero_btn">
        <span> გაიგეთ მეტი </span>
      </div>
    </div>
    <div class="img_wrapper">
      <picture ">
          <source " media="(max-width: 767px)"
        srcset="https://static.tbcconcept.ge/mobile/media/nvmgsymp.3xqprivate banker.png">
        <source " media=" (max-width: 1023px)"
          srcset="https://static.tbcconcept.ge/tablet/media/nvmgsymp.3xqprivate banker.png"><img
          src="https://static.tbcconcept.ge/desktop/media/nvmgsymp.3xqprivate banker.png" loading="lazy" width="1772"
          height="1181" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 91vw, 1110px" class="banner_img">
      </picture>
    </div>
  </section>


  <section class="section_swiper">

    <div class="container">
      <div class="heading_wraper">
        <h2>ჯილდოები</h2>
      </div>
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class=" award">
              <div class="product-card_content">
                <img src="../../images/g-finance.png" class="award_logo">

                <h3 class="card-title">ციფრული</h3>
                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის ციფრული ნაკრები განკუთვნილია მათთვის, ვისთვისაც
                    <strong>საბანკო მომსახურებით
                      სარგებლობა ყოველდღიურობის ნაწილია</strong>, ვინც აქტიურად მოიხმარს <strong>არასაბანკო
                      პროდუქტებსა
                      და შეთავაზებებს</strong> და ვისაც ურჩევნია დამოუკიდებლად, <strong>პირადი ბანკირის
                      გარეშე</strong>
                    მართოს საკუთარი ფინანსები და საბანკო ოპერაციები.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class=" award">
              <div class="product-card_content">
                <img src="../../images/euromoney.png" class="award_logo">

                <h3 class="card-title">პრემიუმი</h3>

                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის მომხმარებლებთან ურთიერთობის ერთ-ერთი ფორმატი -
                    <strong>პრემიუმ ნაკრები</strong>,
                    სხვა საბანკო და არასაბანკო უპირატესობებთან ერთად, <strong>პირადი ბანკირის მომსახურებას</strong>
                    გულისხმობს. პირადი ბანკირის მთავარი ამოცანა მომხარებლისთვის ცხოვრების გამარტივება და მისთვის
                    უმაღლესი ხარისხის მომსახურების უზრუნველყოფაა.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class=" award">
              <div class="product-card_content">
                <img src="../../images/g-finance.png" class="award_logo">
                <h3 class="card-title">360</h3>

                <div class="category-wrap">
                  <p class="card-category"><strong>თიბისი კონცეპტის 360</strong> ნაკრები განკუთვნილია მათთვის, ვისაც
                    სხვა საბანკო და
                    არასაბანკო უპიტარესობებთან ერთად, კიდევ უფრო <strong>მეტი ფინანსური ინსტრუმენტი</strong> და
                    <strong>გაზრდილი შესაძლებლობები</strong> ესაჭიროება.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class=" award">

              <div class="product-card_content">
                <img src="../../images/banker.png" class="award_logo">

                <h3 class="card-title">ციფრული</h3>
                <div class="category-wrap">
                  <p class="card-category">თიბისი კონცეპტის ციფრული ნაკრები განკუთვნილია მათთვის, ვისთვისაც
                    <strong>საბანკო მომსახურებით
                      სარგებლობა ყოველდღიურობის ნაწილია</strong>, ვინც აქტიურად მოიხმარს <strong>არასაბანკო
                      პროდუქტებსა
                      და შეთავაზებებს</strong> და ვისაც ურჩევნია დამოუკიდებლად, <strong>პირადი ბანკირის
                      გარეშე</strong>
                    მართოს საკუთარი ფინანსები და საბანკო ოპერაციები.
                  </p>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="swiper-scrollbar"></div>
        <div class="swiper_nav-arrows">

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </section>


</main>