.smooth-scroll-container {
  width: 100%;
}

.breadcrumb_inner {
  padding: 24px 0px;
}

.main_hero {
  position: relative;
  display: flex;
  min-height: 360px;
  margin-top: 32px;
  margin-bottom: 60px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px;
  border-radius: 8px;
  overflow: hidden;
}

.main_hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.main_hero * {
  position: relative;
}

.banner_content {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  color: #fff;
  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  p {
    margin: 16px 0 24px;
  }
}
.hero_btn {
  display: flex;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  grid-column-gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero_btn:hover {
  background-color: #3295ce;
  background-image: none;
}

.main_message {
  padding: 60px 0;
}
.message_txt {
  font-size: 32px;
  letter-spacing: 1px;
  color: #141719;
  font-weight: 500;
  line-height: 1.5;
}

.main_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding-bottom: 60px;
}

.heading_wraper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  display: flex;
}

.grid_card {
  min-height: 256px;
  color: #fff;
  background-color: #141719;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.grid_card_content {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  h3 {
    font-size: 24px;
    margin: 0;
  }
}
.left-top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.left-bottom {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.right {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.img_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  display: block;
}

.grid_card:hover .banner_img {
  transform: scale(1.1);
}

.arrow-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-link .card_btn {
  display: flex;
  align-items: center;
}
.category-wrap {
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.award_logo {
  height: 52px !important;
  width: auto !important;
}

.arrow-link .button_text {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.main_cards::-webkit-scrollbar {
  height: 2px;
}

.main_cards::-webkit-scrollbar-track {
  background: transparent;
}

.main_cards::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.main_cards::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section_numbers {
  padding: 60px 0px;
}
.get_app {
  padding: 60px 0;
}

.get_app-wraper {
  background-color: #fff;
  padding: 0px 47px;
}

.get_app_inner {
  min-height: 374px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
}

.get_app_content {
  width: 55%;
  grid-row-gap: 16px;
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  display: flex;
}
.app_img {
  max-height: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
  align-self: flex-end;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.get_app_btn {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
}

.app_btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: flex;
}

.app_btn-mobile {
  grid-column-gap: 4px;
  color: #182cc0;
  text-transform: uppercase;
  border: 1px solid #182cc0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: none;
}
.app_btn-mobile:hover {
  background-color: #f9fafa;
}

.numbers {
  display: flex;

  gap: 30px;
  justify-content: space-between;
}

.numbers_item {
  background-color: #fff;
  border-radius: 8px;
  flex: 1 1 calc(33.333% - 20px);
  padding: 40px 48px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.numbers_number {
  color: #141719;
  line-height: 1.3;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 8px;
}
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  z-index: 1;
}

.swiper-wrapper {
  transition: transform 0.4s ease-in-out;
  overflow: scroll;
  padding-bottom: 38px;
}

.swiper-slide {
  width: 350px !important;
  height: auto !important;
  margin-right: 30px;
}
.swiper-slide:last-child {
  margin-right: 0;
}

.product-card {
  height: 100%;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.product-card:hover {
  background-color: #fff;
  box-shadow: 0 36px 40px -15px rgba(12, 43, 67, 0.07);
  img {
    margin-top: -2%;
  }
}
.award {
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.product-card_img-wrapper {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}

.product-card_img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.logo img {
  max-width: 100%;
}

.product-card_content {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.card-category {
  margin: 0;
  color: #6f787b;
}

.card-title {
  margin: 0;
  color: #141719;
  font-size: 16px;
  font-weight: bold;
}
.section_swiper {
  padding: 0 47px;
}

.swiper-scrollbar {
  height: 2px !important;
  background-color: #d1d5d6 !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}

.swiper-button-prev {
  background-image: url('../../images/prev-btn.svg') !important;
  background-repeat: no-repeat;
  position: unset !important;
  margin-top: 0px !important;
  height: 20px !important;

  &::after {
    display: none !important;
  }
}

.swiper-button-next {
  background-image: url('../../images/next-btn.svg') !important;
  background-repeat: no-repeat;
  position: unset !important;
  margin-top: 0px !important;
  height: 20px !important;

  &::after {
    display: none !important;
  }
}
.swiper_nav-arrows {
  grid-column-gap: 4px;
  justify-content: flex-end;
  align-items: center;
  margin-top: -11px;
  display: none;
}

.swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #007aff;
  border-radius: 1px;
  width: 300px !important;
  transform: translate3d(359px, 0px, 0px);
  transition-duration: 0ms;
}

@media screen and (min-width: 1440px) {
  .message_txt {
    font-size: 36px;
  }
  .swiper_nav-arrows {
    display: flex;
  }
  .swiper-scrollbar {
    width: calc(100% - 92px) !important;
  }
}

@media screen and (max-width: 1100px) {
  .message_txt {
    font-size: 32px;
  }
}
@media screen and (max-width: 991px) {
  .main_hero {
    padding: 36px 45px;
    min-height: 450px;
  }
  .main_cards {
    padding-bottom: 40px;
  }
  .banner_content {
    justify-content: end;
    h1 {
      font-size: 16px;
    }
  }
  .numbers {
    flex-direction: column;
  }
  .section_numbers {
    padding: 40px 0;
  }
  .get_app-wraper {
    padding: 32px 45px;
  }
  .app_btn-mobile {
    display: flex;
  }
  .app_btn {
    display: none;
  }
  .get_app_inner {
    min-height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .main_wraper {
    padding: 0;
  }
  .main_hero {
    min-height: 450px;
  }
  .banner_content {
    max-width: 100%;
    align-items: stretch;
  }
  .main_message {
    padding: 20px 45px;
  }
  .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .right {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .main_cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    display: flex;
    overflow-x: auto;
    gap: 10px;
    height: auto;
  }
  .card_wraper {
    padding: 0 0 0 45px;
  }

  .grid_card {
    min-height: 232px;
    width: 280px;
    flex: 0 0 auto;
    grid-column: 1 / 2;
    grid-row: auto;
  }
  .grid_card_content {
    h3 {
      font-size: 16px;
    }
  }
  .get_app {
    margin: 0;
  }
  .section_numbers {
    padding: 45px;
  }
  .img_wrapper,
  .main_hero {
    border-radius: unset;
  }
  .get_app_inner {
    min-height: 0;
    flex-direction: column;
  }
  .get_app_content {
    width: 100%;
    grid-row-gap: 28px;
  }
  .app_img {
    max-height: none;
    align-self: center;
    position: static;
    height: auto;
  }
  .app_btn-mobile {
    flex: 1;
  }
  .get_app_btn {
    width: 100%;
  }
  .section_swiper {
    padding: 0 45px;
  }
}

@media screen and (max-width: 479px) {
  .section_numbers {
    padding: 15px;
  }
  .section_swiper {
    padding: 0 15px;
  }

  .main_hero {
    padding: 20px 15px;
    min-height: 360px;
  }
  .main_message {
    padding: 20px 15px;
  }
  .message_txt {
    font-size: 24px;
  }

  .card_wraper {
    padding: 0 0 0 15px;
  }
  .get_app-wraper {
    padding: 32px 15px;
  }
}
