<footer class="footer">
  <div class="footer_top">
    <div class="p_global">
      <div class="container">
        <div class="footer_top-inner">


          <img src="images/footer-logo.svg" alt="Logo" width="165" height="32" />
          <div class="lang_dropdown">
            <div class="lang_toggle d_cursor">
              <div class="lang_icon">
                <img src="../../images/lg-icon.svg" alt="leng" />

              </div>
              <div>ქარ</div>
            </div>
            <div class="lang_dropdown-menu">
              <div class="ln_option">Eng</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="footer_main">
    <div class="p_global">
      <div class="container">
        <div class="footer_sec">
          <div class="footer_main-inner">
            <div class="footer_main-col">
              <div class="footer_dropdown">
                <div class="footer_dropdown-toggle">
                  <div class="d_cursor">პროდუქტები</div>
                  <div class="footer_dropdown-arrow "></div>
                </div>
                <nav class="footer_dropdown-list">
                  <a href="#">ნაკრები</a>
                  <a href="#">პერსონალური ბანკირი</a>
                </nav>
              </div>
            </div>

            <div class="footer_main-col">
              <div class="footer_dropdown">
                <div class="footer_dropdown-toggle">
                  <div class="d_cursor">Lifestyle</div>
                  <div class="footer_dropdown-arrow "></div>
                </div>
                <nav class="footer_dropdown-list">
                  <a href="#">შეთავაზებები</a>
                  <a href="#">ღონისძიებები</a>
                </nav>
              </div>
            </div>

            <div class="footer_main-col">
              <div class="footer_dropdown">
                <div class="footer_dropdown-toggle">
                  <div class="d_cursor">კონცეპტის სივრცე</div>
                  <div class="footer_dropdown-arrow "> </div>
                </div>
                <nav class="footer_dropdown-list">
                  <a href="#">ბიბლიოთეკა</a>
                  <a href="#">კაფე</a>
                </nav>
              </div>
            </div>


          </div>
          <div class="footer_contact">
            <div class="footer_main-col">
              <div class="footer_dropdown">
                <div class="footer_contac-sec">
                  <div class="d_cursor">დაგვიკავშირდით:</div>
                </div>
                <nav class="footer_contac-list">
                  <a href="#" class="footer_conect"> <img src="../../images/phone.svg" /> +995 32 2 27 27 00</a>
                  <a href="#" class="footer_conect"> <img src="../../images/mail.svg" /> info@tbcconcept.ge</a>
                  <a href="#" class="footer_conect"><img src="../../images/location.svg" /> ფილიალები</a>
                </nav>
              </div>
            </div>
            <p class="footer_social">სოციალური ქსელები</p>
            <div class="footer_social-list">
              <a href="https://www.facebook.com/tbcconcept" target="_self" class="footer_social-link ">
                <div class="d_flex">
                  <img src="../../images/fb.svg" />

                </div>
              </a>
              <a href="https://www.instagram.com/tbc_concept/" target="_self" class="footer_social-link ">
                <div class="d_flex">
                  <img src="../../images/inst.svg" />
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="p_global">
      <div class="container">
        <div class="footer_bottom_inner">
          <div class="bottom_logo d_flex">
            <img src="images/mobile-header.svg" alt="Logo" />
            <p>2024 ყველა უფლება დაცულია</p>
          </div>
          <div class="rules">
            <a href="#"> კონფიდენციალურობა </a>
            <a href="#"> წესები და პირობები </a>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>

</footer>